/* archivo-regular - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('..assets//fonts/archivo-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('..assets//fonts/archivo-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-italic - latin */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: url('..assets//fonts/archivo-v18-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('..assets//fonts/archivo-v18-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-500 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: url('..assets//fonts/archivo-v18-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('..assets//fonts/archivo-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-600 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('..assets//fonts/archivo-v18-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('..assets//fonts/archivo-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-700 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('..assets//fonts/archivo-v18-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('..assets//fonts/archivo-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --white-color: #FFFFFF;
}

/* html {
    scroll-behavior: smooth;
} */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
.page {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: var(--white-color);

  /* background: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/img/bg.jpg?raw=true") center/cover, rgba(0, 0, 0, 0.5); */
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.page.lock {
  overflow: hidden;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

.btn {
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

/* -------------------------  Header  ------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  max-width: 50%;

  opacity: 1;
  transition: all 0.8s ease;
  /* min-height: 150px; */
}

.player-controls {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 15px;
  /* width: 120px; */
  margin-bottom: 15px;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar-container {
  /* display: none; */
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 10px;
  opacity: .8;
  transition: .3s;
}

.audio-title {
  font-style: italic;
  color: rgb(164, 191, 242);
}

.progress-time {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
}

.progress-bar {
  width: 100%;
  /* height: 6px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer; */
}

/* .progress {
  width: 0%;
  height: inherit;
  background-color: rgb(116, 116, 228);
  border-radius: inherit;
  transition: 0.2s;
} */

#progressBar {
  appearance: none;

  width: 100%;
  height: 6px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  /* width: 57.5%; */
  outline: none;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  height: 8px;
  width: 8px;
  outline: none;
  background-color: rgb(117, 170, 218);
  border-radius: 20px;
  cursor: pointer;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  /* z-index: 5; */
}

.play-item:hover {
  opacity: 1;
}

.play-item:active {
  color: cornflowerblue;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
  /* color: cornflowerblue; */
}

.item-active::before {
  color: cornflowerblue;
}

.item-active {
  color: cornflowerblue;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/play.svg?raw=true");
}

.pause {
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/pause.svg?raw=true");
}

.play-prev {
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/play-prev.svg?raw=true");
}

.play-next {
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/play-next.svg?raw=true");
}

.volume {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/svg/volume.svg");
}

.mute {
  background-image: url("../assets/svg/mute.svg");
}

.volume-range {
  -webkit-appearance: none;
  width: 80px;
  height: 5px;
  border: 0px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, rgb(40, 40, 244) 0%, rgb(155, 211, 230) 20%, rgb(176, 218, 233) 20%, #fff 100%);
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: .3s;
}

.volume-range:hover::-webkit-slider-thumb {
  width: 4px;
  height: 12px;
  background-color: rgb(57, 135, 166);
  outline: 0;
  border: 0px;
}

/* ----------------  weather  ---------------- */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 12px;
  max-width: 240px;
  /* min-height: 180px; */
  text-align: left;

  opacity: 1;
  transition: all 0.8s ease;
}

.weather-error {
  font-size: 20px;
  font-style: italic;
  color: rgb(231, 65, 65);
}

.weather__container {
  margin-top: -16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather__icon {
  font-size: 44px;
}

.weather__temp {
  font-size: 26px;
  opacity: .8;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  font-style: italic;
}

.weather__feels-like {
  font-size: 15px;
  opacity: .9;
  font-style: normal;
}

.weather__city {
  max-width: 240px;
  height: 34px;
  padding: 5px;

  font-size: 30px;
  /* font-style: italic; */
  font-weight: lighter;
  color: rgb(209, 233, 247);

  line-height: 24px;
  /* letter-spacing: 1.3px; */
  /* color: #fff; */
  /* opacity: .6; */
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.weather__city::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-style: italic;

  color: #fff;
  opacity: .6;
}

/* -----------------------  Main  -----------------------  */

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/slider-prev.svg?raw=true");
}

.slide-next {
  right: 20px;
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/slider-next.svg?raw=true");
}

/* time  */

.time {
  min-height: 124px;
  margin-bottom: 10px;

  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  letter-spacing: 0.8px;

  opacity: 1;
  transition: all 0.8s ease;
}

.day {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;

  opacity: 1;
  transition: all 0.8s ease;
}

/* greeting  */

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  font-style: italic;

  opacity: 1;
  transition: all 0.8s ease;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.enter-name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  color: rgb(209, 233, 247);
  background-color: transparent;
  border: 0;
  outline: 0;
}

/* .enter-name[attribute="value"] {
  color: red;
  opacity: .5;

  font-style: italic;
} */

/*  ---------------------------------- Footer ---------------------------------  */

.footer {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

/* quote  */

.footer__quote {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;

  opacity: 1;
  transition: all 0.8s ease;
}

.change-quote {
  margin-bottom: 20px;
  background-image: url("https://github.com/IuliiaPi/stage1-tasks/blob/momentum/assets/svg/reload.svg?raw=true");
}

.quote {
  margin-bottom: 10px;
  /* min-height: 32px; */
  font-size: 18px;
  font-style: italic;
}

.author {
  min-height: 20px;
}

/* -------------------  to-do list -----------------------*/

.btn__to-do {
  display: flex;
  flex-direction: column;
  padding: 2px 5px 5px;
  font-size: 9.2px;
  border: 1px solid lightblue;
  border-radius: 50px;
  background-color: #fff;
  color: rgb(19, 23, 34);

  transition: all 0.8s ease;
}

.btn__to-do:active {
  transform: scale(1.2);
}

.popup {
  max-width: 400px;
  position: absolute;
  z-index: 2;

  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  /* overflow-y: auto;  for scroll */
  /* overflow-x: hidden; */
}

.to-do__popup {
  bottom: 20px;
  right: 80px;
}

.popup__to-do_activ,
.popup:target {
  opacity: 1;
  visibility: visible;
}

.to-do__container {
  border: 1px solid gray;
  border-radius: 15px;

  background-color: rgb(67, 81, 113);
  opacity: 0.9;
}

.to-do__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 15px;

  font-size: 20px;

  position: relative;
}

/* .popup__close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 16px;
} */

.to-do__list__title {
  font-size: 22px;
  color: rgb(181, 181, 210);
}

.to-do__input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.to-do__input {
  /* max-width: 400px; */
  padding: 0px 10px;

  font-size: 20px;

  border: none;
  border-bottom: 2px solid rgb(30, 174, 236);

  color: azure;
  background-color: inherit;
}

.to-do__btn-add {
  font-size: 30px;
  /* font-weight: bolder; */
  
  padding: 3px;

  background-color: inherit;
  border: none;
  color: rgb(195, 246, 235);
  /* opacity: 0.7; */
}

.to-do__list {
  /* max-width: 400px; */
  padding: 0 5px 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
  gap: 10px;
}

.to-do__li {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.9px;

  border: none;

  color: var(--white-color);
  background-color: inherit;
}

.btns {
  padding: 0 10px;
  /* display: flex; */
  /* gap: 10px; */
}

.btn__edit,
.btn__delete {
  padding: 0 12px;
  font-size: 20px;
  
  background-color: transparent;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn__edit {
  color: aquamarine;
  }

.btn__delete {
color: rgb(242, 100, 100);
}

.btn__edit:hover,
.btn__delete:hover {
opacity: 0.9;
transform: scale(0.8);
}


/* -----------------------  settings__popup  ---------------------------- */


.settings__btn {
  width: 35px;
  height: 35px;

  /* background-size: 40px 40px; */
  background-image: url("../assets/svg/settings.png");
  border: 1.5px solid lightblue;
  border-radius: 50px;
  background-position: center;
  /* background-color: transparent; */
}

.settings__btn:active {
  transform: rotate(20deg);
}

.settings__popup {
  bottom: 20px;
  left: -240px;
  transform: translate(-100%, 0);
  transition: all 0.8s ease;
}

.popup__settings_activ {
  opacity: 1;
  visibility: visible;
  transform: translate(100%, 0);
}

.settings__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;

  background-color: rgb(107, 111, 140);
  opacity: 0.9;

  font-size: 20px;
}


.hidden {
  display: none;
  transition: all 0.8s ease;
}

._active {
  display: block;
  transition: all 0.8s ease;
}


.settings__title {
  /* text-align: center; */
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(181, 181, 210);
}

.label__title {
  cursor: pointer;
  transition: all 0.8s ease;
}

.label__title:hover {
  color: rgb(92, 181, 250);
}

.label__title:active {
  color: rgb(32, 152, 243);
}

.settings__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bg {
  text-align: start;
}

.tags {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px;

  font-weight: bold;
  color: rgba(240, 255, 255, 0.59);
}

.tag {
  font-size: 20px;
  /* width: fit-content; */
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  padding: 0px 10px;
  color: azure;
}

.tag::placeholder {
  font-size: 18px;
  font-style: italic;
  color: azure;
  opacity: 0.7;
}

.block {
  text-align: start;
  transition: all 0.8s ease;
}

.block:hover {
  color: rgb(92, 181, 250);
}

.block:active {
  color: rgb(32, 152, 243);
}

.checkbox,
.block__title {
  cursor: pointer;
}

/* .checkbox {
  background-color: aquamarine;
  color: coral;
} */

._checked {
  opacity: 1;
  transition: all 0.8s ease;
}

._no-checked {
  opacity: 0;
  transition: all 0.8s ease;
}

/* input[type="checkbox"] {
  color: red;
  background-color: red;
} */


.settings__links {
  font-size: 11px;
}

/* ------------------------  @media (max-width: 768px) ---------------------- */

@media (max-width: 768px) {

  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .enter-name {
    font-size: 32px;
    padding: 5px;
  }

  .quote {
    max-width: 500px;
  }

}

@media (max-width: 550px) {

  .page {
    min-width: 320px;
    font-size: 14px;
  }

  .player-icon,
  .slider-icon,
  .change-quote {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  .volume {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

  .weather {
    max-width: 140px;
  }

  .weather__city {
    max-width: 140px;
    font-size: 20px;
  }

  .time {
    min-height: 30px;
    font-size: 40px;
    letter-spacing: 2px;
  }

  .day {
    min-height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .greeting-container {
    min-height: 20px;
    font-size: 16px;
  }

  .greeting {
    padding: 5px;
  }

  .enter-name {
    font-size: 20px;
    padding: 5px;
  }

  .change-quote {
    margin-bottom: 20px;
  }

  .quote {
    max-width: 300px;
  }

}

/* ---------------------------------------------------------------- */